    <div class=" row  h-50">
      <div class=" col-md-20">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Simple Table</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Registration number</th>
                    <th>Name</th>
                    <th>Option</th>
                    <th class=" text-center">Promotion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>
                  <tr>
                    <td>000001</td>
                    <td>soufiane boujida</td>
                    <td>Computer science</td>
                    <td class=" text-center">2020/2023</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  