<div id="fileUp">
  <!--<input type="file" class="file-input"-->
  <!--       (change)="selectFile($event)" #fileUpload>-->
  <!--       [accept]="requiredFileType"-->


  <div class="row">
    <div class="col-8">

      <label class="btn btn-default p-0">
        <input class="file-input"
               type="file" #fileUpload id="fileUpload" name="fileUpload">
        <!--        <input type="file" class="file-input"-->
        <!--               (change)="selectFile($event)" #fileUpload>-->
      </label>
    </div>

    <div class="col-4">
      <!--      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">-->
      <!--        Upload-->
      <!--      </button>-->
    </div>
  </div>

  <div class="file-upload">


    <button mat-mini-fab class="btn btn-primary upload-btn"
            (click)="onClick()">
      <!--    <button mat-mini-fab class="btn btn-primary upload-btn"-->
      <!--            (click)="fileUpload.click()">-->
      {{fileName || "No file uploaded yet."}}
      <mat-icon>attach_file</mat-icon>

    </button>

  </div>

<div class="progress w-100">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    value="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()"
            *ngIf="uploadProgress">delete_forever
  </mat-icon>

</div>
</div>
<!--<div>-->
<!--  <ul>-->
<!--    <li *ngFor="let file of files">-->

<!--                    <span id="file-label">-->
<!--                        {{file.data.name}}-->
<!--                    </span>-->
<!--    </li>-->
<!--  </ul>-->

<!--&lt;!&ndash;  <button (click)="onClick()">&ndash;&gt;-->
<!--&lt;!&ndash;    Upload&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="file" #fileUpload id="fileUpload" name="fileUpload"  style="display:none;" />&ndash;&gt;-->
<!--</div>-->
