<div class="profileContainer">
<!--  <app-skeleton *ngIf="loader"></app-skeleton>-->
  <div class="container-fluid mainProfile">
    <img [src]="user.ImageURL" class="rounded-circle">
    <div class="parent">
      <p class="div1">Username: </p>
      <p class="div4">{{user.displayName}}</p>

      <p class="div2">Email address: </p>
      <p class="div3"> {{user.email}}</p>
    </div>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-6" *ngFor="let project of projects; let i = index">
        <div class="card btn projCard" routerLink="/projects/detailProject" (click)="onLoadProjectData(i)">
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="tags">
            <div class="badge badge-primary" *ngFor="let tag of project.tags">{{tag}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
